@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-cyan: 193, 38%, 86%;
  --neon-green: 150, 100%, 66%;
  --grayish-blue: 217, 19%, 38%;
  --dark-grayish-blue: 217, 19%, 24%;
  --dark-blue: 218, 23%, 16%;
}

body,
#root {
  font-family: "Manrope", sans-serif;
  background-color: hsla(var(--dark-blue));
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.quote {
  font-size: 28px;
  font-weight: 800;
  color: hsl(var(--light-cyan));
}

.divider {
  background: url("./assets/images/pattern-divider-desktop.svg") no-repeat
    center;
  width: 100%;
  height: 30px;
}
@media (max-width: 375px) {
  .divider {
    background: url("./assets/images/pattern-divider-mobile.svg") no-repeat
      center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
